@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

h1, h2, h4, h6 {
    font-family: 'Monsterrat', sans-serif;
}
/* NAVBAR-------------------------------*/

#header {
    position: fixed;
    display: flex;
    height: 2.5em;
    background-color: orange;
    justify-content: space-around;
}

#header-img {
    height: 2em;
}

#logo {
    display: flex;
    width: 70vw;
}

#logo-name {
    color: rgb(27, 27, 27);
    font-weight: 800;
    font-size: 2em;
    align-self: center; 
}


#nav-bar {
    align-content: center;
    display: flex;
    width: 100vw;
}

ul {
    list-style: none;
    display: flex;
    align-self: center;
}


li {
    padding-right: 2em;
}


.nav-link {
    text-decoration: none;
    color: rgb(27, 27, 27);
}

.nav-link:hover {
    color: #000;
    border-bottom: 1px solid rgb(27, 27, 27);
}


/* HERO IMAGE---------------------------*/


#img-container {
    background: url(img/hero.jpg) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}


/* --form-------------------------*/

form {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: -12em auto;
    width: 20vw;
}

#email {
    height: 3em;
    background-color: #333;
    color: antiquewhite;
    border: none;
    font-size: 1em;
    box-shadow: 3px 5px 10px black;
}

.btn {
    color: rgb(27, 27, 27);
    background-color: orange;
    border: none;
    margin-top: 2em;
    padding: 0.7em;
    font-size: 1em;
    text-transform: uppercase;
    box-shadow: 3px 5px 10px;
}

.btn:hover {
    color: orange;
    background-color: rgb(27, 27, 27);
    box-shadow: none;

}

/* MAIN---------------------------*/

#main {
    display: flex;
    position: relative;
    top: 20em;
    background-color: #fff;
}

#main-heading {
    font-size: 5em;
    width: 100vw;
    margin-top: 1.6em;
    margin-left: 2em;
    padding-top: 0.2em;
    padding-left: 0.3em;
    text-transform: uppercase;
    background-color: rgb(74, 165, 226);
    color: rgb(27, 27, 27);
    box-shadow: 3px 5px 10px;
}

#brewing-span {
    font-size: 1.2em;
}

/* --cards-------------------------*/
.product-card {
    display: flex;
    flex-direction: row;
    margin-top: 7em;    
}

.card-img {
    margin-left: 10em;
}

.card-text {
    display: flex;
    flex-direction: column;
    margin-left: 10em;
    max-width: 60vw;
}

.card-heading {
    font-size: 3em;
    font-weight: 200;
    margin-bottom: 1.5em;
    color: rgb(27, 27, 27);

    

}

.card-paragraph {
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: solid 1px rgb(190, 190, 190);
    border-bottom: solid 1px rgb(190, 190, 190);
}

/* VIDEO---------------------------*/

#video-section {
    margin-left: 10em;
    margin-top: 35em;
}

#video-container {
    display: flex;
}

#video-heading {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    line-height: 9em;
    
}

#how-heading {
    font-size: 6em;
    
}

#we-heading {
    font-size: 9.2em;
    background-color: rgb(74, 165, 226);
}

#do-it-heading {
    font-size: 5.5em;
    line-height: 1.3em;
    margin: auto;
}

#video {
    margin-left: 5em;
}


