@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

h1, h2, h4, h6 {
    font-family: 'Monsterrat', sans-serif;
}
/* NAVBAR-------------------------------*/

#header {
    position: fixed;
    display: flex;
    height: 2.5em;
    width: 100vw;
    background-color: rgb(27, 27, 27);
    justify-content: space-around;
}

#header-img {
    height: 2em;
}

#logo {
    display: flex;
    width: 70vw;
}

#logo-name {
    color: rgb(248, 216, 37);
    font-weight: 300;
    font-size: 2em;
    align-self: center;
}


#nav-bar {
    align-content: center;
    display: flex;
}

ul {
    list-style: none;
    display: flex;
    align-self: center;
}


li {
    padding-right: 2em;
}


.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    color: rgb(248, 216, 37);
}


/* HERO IMAGE---------------------------*/


#img-container {
    background: url(img/hero.jpg) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}


/* FORM---------------------------*/

form {
    display: flex;
    margin: -12em auto;
    flex-direction: column;
    width: 20vw;
}

#email {
    height: 3em;
    background-color: #333;
    color: antiquewhite;
    border: none;
    font-size: 1em;
}

.btn {
    color: #fff;
    background-color: rgb(248, 216, 37);
    border: none;
    margin-top: 2em;
    padding: 0.7em;
    font-size: 1em;
    text-transform: uppercase;
}